@import '../theme';

.containerCloseTabela {
    width: max-content;
    height: max-content;

    transform: translateX(100%);

    cursor: pointer;
}

.containerTabelaNutricional {
    width: max-content;
    height: max-content;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    background: $white;
    border-radius: 15px;

    z-index: 80;

    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
}

.containerTabelaNutricional > img {
    width: 30vw;
    margin: 20px;
}

.closeContainer {
    background: $white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.1);

    z-index: 5;
}

.closeContainer > img {
    width: 15px;
    margin: 10px;
}
